.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 0px;
	background-color: #022851;
	color: #FFBF00;
}

.left-margin {
	margin-left: 10px;
}

a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

textarea  {
	background-color:  #FFF2CC;
}

input {
	background-color:  #FFF2CC;
}

body {
	background-color:#CDD6E0;
}

.app-name {
	justify-self: center;
}

.follow-list {
	display: flex;
	flex-direction: row;
	margin-bottom: -30px;
	align-items: center;
	gap: 5px;
}

.follow-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 10px;
	justify-content: center;
}



.follow-text, .follow-header {
	margin: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.follow-header {
	margin-bottom: 5px;
}


.header-logo {
	height: 90px;
	width: 90px;
	position: absolute;
	left: 25px;
	top: 22px;
}


h1 {
	font-size: 48px;
	text-align: center;
}

h2 {
	font-size: 32px;
}

a {
	font-size: 24px;
}

h3 {
	margin: none;
}

ul {
	list-style: none;
}

p {
	line-height: 50%;
}


.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	margin-top: 0px;
	background-color: #4F7094;

}

.nav-login {
	margin-right: 50px;
}

.content-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.header-avatar {
	height: 70%;
	width: 70%;
	border: none;
	border-radius: 6px;
}

.main-profile {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-right: 50px;
}

.post-form {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 40vw;
	margin-left: 20px;
	margin-right: 20px;
}



.post-title {
	margin-bottom: 10px;
	width: 100%;
}

#post-content, #comment-textarea {
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.posts-title {
	text-align: center;
	align-self: center;
	justify-self: center;
	margin-bottom: 0px;
}

.posts-list {
	display: flex;
	flex-direction: column;
	width: 60vw;
}

.hover:hover {
	cursor: pointer;
}

.post-button {
	background-color: #355B85;
	color: white;
	border: none;
	padding: 7px;
	margin: 4px 2px;
	border-radius: 2px;
}

.emoji-button {
	background-color: #355B85;
	border: none;
	padding: 7px;
	margin: 4px 2px;
	border-radius: 2px;	
}

.login-register {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10vw;
}

.login-area, .register-area{
	width: 15vw;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.post-status-bar, .reply-status-bar {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.reply-status-bar {
	margin-top: -5px;
}

.hide {
	display: none;
}

.post, .reply {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #FFF2CC;
	border: none;
	padding: 7px;
	margin: 4px 2px;
	border-radius: 6px;	
	box-shadow: 2px 2px gray;
	margin-bottom: 20px;
}

.reply {
	margin-top: -10px;
}

.reply-content {
	height: 70px;
}

.reply-avatar {
	height: 70px;
	width: 70px;
	margin-right: 5px;
	padding-right: 10px;
}

.comment-text {
	margin-top: 20px;
}

#comment-textarea {
	height: 15%;
	width: 122%;
	margin-bottom: -10px;
	margin-left: 30px;
	margin-top: -10px;
}

.avatar {
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 15px;
	border: none;
	border-radius: 6px;
}


.profile-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.profile-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user-posts {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	width: 100%;
	text-align: center;
}

@media (max-width: 928px) {
	.profile-container {
		flex-direction: column;
	}

	.content-container {
		flex-direction: column;
		align-items: center;
	}

	.login-register {
		flex-direction: column;
		align-items: center;
	}

	.login-area, .register-area {
		width: 50vw;
	}
}

button:hover {
	cursor: pointer;
}

.post-sorting {
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: -20px;

}